version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app:cached

  frontend:
    build: ./Frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
